body{
    background-image:url('voting.jpg');
    background-size:cover; 
    background-position:var() ; 
    background-repeat: no-repeat; 
    height:100vh;
    margin:0;
    overflow:hidden;
}
h1{
    color:white;
}
button{
    color:white;
    background-color: green;
    height: 40px; 
    width:90px;
    font-size: 20px;

}